{
    "user": "dazoho",
    "topArtists": 10,
    "extraArtists": [
        { "title": "Arch Enemy", "href": "/music/Arch+Enemy" },
        { "title": "Hiraes", "href": "/music/Hiraes" },
        { "title": "Horrorgraphy", "href": "/music/Horrorgraphy" },
        { "title": "Ode Insone", "href": "/music/Ode+Insone" }
    ]
}
